cairocffi==1.3.0
CairoSVG==2.5.2
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.7
cssselect2==0.4.1
defusedxml==0.7.1
idna==3.3
lark==0.11.3
lxml==4.6.3
Pillow==8.4.0
pycparser==2.20
reportlab==3.6.2
requests==2.26.0
svglib==1.1.0
tinycss2==1.1.0
urllib3==1.26.7
webencodings==0.5.1
